* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 21, 64, 1);
  display: grid;
  margin-top: 2rem;
  background-color: #efc1cf;
  background-image: url(/background.jpg);
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-content: center;
}

header {
  grid-column-start: 2;
  grid-column-end: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 5rem;
  align-items: baseline;
}

.Menu {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.Sign {
  font-family: "Suranna", serif;
  font-size: 2.5rem;
  grid-column-start: 1;
  grid-column-end: 1;
}

main {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 10;
  gap: 3rem;
}
.FirstBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
  grid-gap: 2rem;
  align-items: center;
}
.pic {
  margin-left: 8rem;
  background-image: linear-gradient(#ee80a9 20%, #f77b04 40%, #f8f94f);
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  position: relative;
}

.Profilepic {
  object-fit: contain;
  width: 25 rem;
  position: absolute;
  left: -0.4rem;
}
.Font1 {
  font-family: "Suranna", serif;
  font-size: 4rem;
  line-height: 6rem;
}
.Font2 {
  font-family: "Suranna", serif;
  font-size: 4rem;
  color: #ee80a9;
  line-height: 4rem;
}
.location {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 4rem;
  gap: 0.5rem;
  align-items: center;
}

#locationicon {
  max-width: 2.5rem;
  object-fit: contain;
}
.IconTool {
  max-width: 4rem;
  object-fit: contain;
}
.SecondBox {
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  align-items: center;
}
.FormacaoAcad {
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.AcademicBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50rem;
  height: 5rem;
  gap: 1rem;
}
.begining1 {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.middle1 {
  font-size: 1.2rem;
  display: flex;
  width: 30rem;
  height: 5rem;
  align-items: center;
  justify-content: left;
}
.end1 {
  display: flex;
  font-size: 1.2rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.Instlogo {
  object-fit: contain;
  width: 10rem;
}
.Font3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.Icons {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.Thirdbox {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: space-between;
  align-items: center;
}
.ProfessionalBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50rem;
  height: 5rem;
  gap: 1rem;
}
.Empresa {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.Empresa p {
  font-size: 1.2rem;
}
.Empresa img {
  object-fit: contain;
  width: 2rem;
}
.begining {
  display: flex;
  width: 6rem;
  height: 8rem;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  flex-direction: column;
}
.middle {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 8rem;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
}
.Text {
  text-align: left;
  justify-content: baseline;
}
.end {
  width: auto;
  height: 8rem;
}
.Funcao {
  height: 2rem;
  width: inherit;
  text-align: center;
  justify-content: baseline;
}
.Funcao p {
  font-size: 1.2rem;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 10rem;
  height: 6rem;
  align-items: center;
}
.habbox {
  background-color: rgba(27, 67, 150, 1);
  width: auto;
  padding: 0.4rem;
  height: 2rem;
  text-align: center;
  color: white;
}
.FourthBox {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.ContactIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.ContactIcon {
  width: 6rem;
  object-fit: contain;
}
